@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CodeSaver';
  src: url(../assets/fonts/CodeSaver-Regular.woff) format('woff');
}

body {
  font-family: 'CodeSaver', sans-serif;
}

.newtab {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 4rem 1fr 1fr 4rem;
  gap: 1px 1px;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar main'
    'sidebar footer';
}
.sidebar {
  grid-area: sidebar;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
  display: flex;
}
.footer {
  grid-area: footer;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-left: 4px transparent solid;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

.modal {
  backdrop-filter: blur(5px);
}
