@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CodeSaver';
  src: url(../assets/fonts/CodeSaver-Regular.woff) format('woff');
}

body {
  font-family: 'CodeSaver', sans-serif;
  height: 100%;
  overflow-y: hidden;
}

.newtab {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 4rem 1fr 1fr 4rem;
  gap: 0px 1px;
  grid-template-areas:
    'sidebar main'
    'sidebar main'
    'sidebar main'
    'sidebar footer';
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
}

.footer {
  grid-area: footer;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-left: 4px transparent solid;
  background-clip: padding-box;
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

.modal {
  backdrop-filter: blur(5px);
}