.react-calendar-heatmap .color-white-0 {
  fill: rgba($color: white, $alpha: 0);
}

.react-calendar-heatmap .color-white-1 {
  fill: rgba($color: white, $alpha: 0.55);
}

.react-calendar-heatmap .color-white-2 {
  fill: rgba($color: white, $alpha: 0.6);
}

.react-calendar-heatmap .color-white-3 {
  fill: rgba($color: white, $alpha: 0.65);
}

.react-calendar-heatmap .color-white-4 {
  fill: rgba($color: white, $alpha: 0.7);
}

.react-calendar-heatmap .color-white-5 {
  fill: rgba($color: white, $alpha: 0.75);
}

.react-calendar-heatmap .color-white-6 {
  fill: rgba($color: white, $alpha: 0.8);
}

.react-calendar-heatmap .color-white-7 {
  fill: rgba($color: white, $alpha: 0.85);
}

.react-calendar-heatmap .color-white-8 {
  fill: rgba($color: white, $alpha: 0.9);
}

.react-calendar-heatmap .color-white-9 {
  fill: rgba($color: white, $alpha: 0.95);
}

.react-calendar-heatmap .color-white-10 {
  fill: rgba($color: white, $alpha: 1);
}

.react-calendar-heatmap text {
  font-size: 8px;
}

.react-calendar-heatmap .text-color-0 {
  fill: rgba($color: black, $alpha: 1);
}
.react-calendar-heatmap .text-color-1 {
  fill: rgba($color: black, $alpha: 0.3);
}
.react-calendar-heatmap .text-color-2 {
  fill: rgba($color: black, $alpha: 0.3);
}
.react-calendar-heatmap .text-color-3 {
  fill: rgba($color: black, $alpha: 0.3);
}
.react-calendar-heatmap .text-color-4 {
  fill: rgba($color: black, $alpha: 0.7);
}
.react-calendar-heatmap .text-color-5 {
  fill: rgba($color: black, $alpha: 0.7);
}
.react-calendar-heatmap .text-color-6 {
  fill: rgba($color: black, $alpha: 0.7);
}
.react-calendar-heatmap .text-color-7 {
  fill: rgba($color: black, $alpha: 0.7);
}
.react-calendar-heatmap .text-color-8 {
  fill: rgba($color: black, $alpha: 0.7);
}
.react-calendar-heatmap .text-color-9 {
  fill: rgba($color: black, $alpha: 0.95);
}
.react-calendar-heatmap .text-color-10 {
  fill: rgba($color: black, $alpha: 1);
}
